@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --background-advantages: #f6e1af;
  --background-contacts: #efe9ef;
  --background-delivery: #ecf3ec;
  --basic-dark: #565c66;
  --basic-extra-dark: #2d3440;
  --basic-extra-light: #fcfcfc;
  --basic-light: #e7e7e7;
  --basic-neutral-disabled: #b9b9b94b;
  --basic-neutral: #e0dede;
  --basic-white: #ffffff;
  --error-color: #ea5454;
  --special-bright: #ff4a78;
  --special-extra-bright-border: #ff2e624d;
  --special-extra-bright: #ff2f64;
  --special-extra-light: #ffcbd8;
  --special-light: #feafc3;
  --special-neutral: #ff7799;
}

html {
  height: 100%;
}

body {
  background-color: var(--special-light);
  color: var(--basic-extra-dark);
  display: flex;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  height: 100%;
  line-height: 22px;
  margin: 0;
  min-width: 1366px;
}

img {
  max-width: 100%;
  object-fit: contain;
  line-height: 0;
  vertical-align: top;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* заголовки */
.heading-intro {
  color: var(--basic-extra-dark);
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: 46px;
  margin: 0;
}

.heading-banners {
  color: var(--basic-extra-dark);
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 46px;
  margin: 0 0 55px;
  text-align: center;
}

.heading-banners-title {
  margin-bottom: 56px;
}

.content-heading {
  color: var(--basic-extra-dark);
  font-size: 24px;
  font-style: normal;
  line-height: 30px;
  margin: 0;
}

.content-text {
  color: var(--basic-extra-dark);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 8px;
}

.catalog-page-title {
  margin-bottom: 40px;
  text-align: left;
}

/* header главной страницы */
.page-navigation {
  color: var(--basic-extra-dark);
  display: flex;
  line-height: 20px;
  margin-bottom: 25px;
  padding: 24px 0;
}

/* header каталога */
.catalog-page-header {
  margin-bottom: 32px;
}

/* навигация */
.navigation {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin: 0 auto;
}

.logo {
  margin-right: 16px;
}

.logo:hover {
  opacity: 0.7;
}

.navigation-item {
  color: var(--basic-extra-dark);
  display: inline-flex;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  min-height: 32px;
}

.navigation-link {
  border-radius: 30px;
  border: 2px solid transparent;
  color: var(--basic-extra-dark);
  font-size: 16px;
  font-weight: 400;
  margin-left: 3px;
  max-width: 180px;
  overflow: hidden;
  padding: 6px 14px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: none;
}

.navigation-link.navigation-current {
  background-color: var(--special-bright);
  border-radius: 30px;
  border: 2px solid transparent;
  color: var(--basic-extra-light);
  padding: 6px 14px;
}

.navigation-link:hover,
.navigation-link.navigation-current:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid transparent;
  color: var(--basic-extra-dark);
}

.navigation-link:active,
.navigation-link.navigation-current:active {
  background-color: var(--basic-extra-light);
  color: var(--basic-extra-dark);
}

.navigation-link:focus,
.navigation-link.navigation-current:focus {
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid var(--basic-extra-dark);
  color: var(--basic-extra-dark);
}

.navigation-list {
  align-items: center;
  display: flex;
}

.navigation-icon {
  fill: var(--basic-extra-dark);
  flex-shrink: 0;
  margin-right: 6px;
}

.navigation-chapters {
  flex-wrap: wrap;
  max-width: 500px;
}

.navigation-chapters .navigation-item {
  display: inline-flex;
  max-width: 200px;
}

.navigation-user {
  flex-wrap: wrap;
  max-width: 500px;
}

.navigation-user .navigation-item:not(:last-child) {
  margin-right: 14px;
}

.navigation-phone-link {
  align-items: center;
  display: inline-flex;
}

.navigation-phone {
  display: inline-block;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link-button {
  align-items: center;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  border: 2px solid transparent;
  display: inline-flex;
  padding: 4px 14px;
}

.link-icon-button {
  border-radius: 50%;
  padding: 6px;
}

.link-icon-button .navigation-icon {
  margin-right: 0;
}

/* main главной и каталога */
.main,
.main-inner {
  flex-grow: 1;
}

/* общий контейнер */
.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1170px;
}

/* кнопки */
.button {
  border-radius: 26px;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  max-width: 255px;
  min-width: 32px;
  overflow: hidden;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: none;
  vertical-align: top;
}

.button-dark,
.button-dark-load {
  color: var(--basic-extra-light);
  background-clip: padding-box;
  background-color: var(--special-extra-bright);
  box-shadow: 0 0 0 4px var(--special-extra-bright-border),
    0 4px 12px #2d34401a;
}

.button-dark:hover {
  background-color: var(--basic-extra-light);
  box-shadow: 0 0 0 4px var(--special-extra-bright);
  color: var(--basic-extra-dark);
}

.button-dark:active {
  background-color: var(--special-light);
  box-shadow: 0 0 0 2px var(--basic-extra-dark);
  color: var(--basic-extra-light);
}

.button-dark:focus {
  background-color: var(--special-extra-bright);
  box-shadow: 0 0 0 2px var(--basic-extra-dark);
  color: var(--basic-extra-light);
}

.button-dark:disabled {
  background-color: var(--basic-neutral-disabled);
  box-shadow: 0 0 0 4px var(--basic-neutral);
  color: var(--basic-dark);
  font-weight: 400;
}

.button-container {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 52px;
  min-width: 160px;
}

.button-light,
.button-light-load {
  color: var(--basic-extra-dark);
  background-clip: padding-box;
  background-color: var(--basic-extra-light);
  box-shadow: 0 0 0 4px #fcfcfc66,
    0 4px 12px #2d34401a;
}

.button-light:hover {
  color: var(--basic-extra-dark);
  background-color: #fcfcfc66;
  box-shadow: 0 0 0 4px var(--basic-extra-light);
}

.button-light:active {
  color: var(--basic-extra-dark);
  background-color: var(--basic-extra-light);
  box-shadow: 0 0 0 2px var(--basic-extra-dark);
}

.button-light:focus {
  color: var(--basic-extra-dark);
  background-color: #fcfcfc80;
  box-shadow: 0 0 0 2px var(--basic-extra-dark);
}

.button-light:disabled {
  color: var(--basic-neutral-disabled);
  background-color: var(--basic-light);
  box-shadow: 0 0 0 2px var(--basic-extra-dark);
}

/* классы для кнопок загрузки с анимацией */
.button-light-load,
.button-dark-load {
  position: relative;
}

.button-light-loading::after {
  border-color: var(--basic-extra-dark) transparent transparent transparent;
}

.button-dark-loading::after {
  border-color: var(--basic-extra-light) transparent transparent transparent;
}

/* формы */
.form-input {
  border-radius: 4px;
  border: 1px solid var(--basic-neutral);
  font-size: inherit;
  line-height: 20px;
  outline: none;
  padding: 13px 15px;
  width: 100%;
}

.form-input::placeholder {
  color: var(--basic-neutral);
}

.form-input:hover {
  border: 1px solid var(--basic-extra-dark);
}

.form-input:focus {
  padding: 12px 14px;
  border: 2px solid var(--basic-extra-dark);
}

.form-input:disabled {
  background-color: var(--basic-light);
  border: 1px solid var(--basic-neutral);
}

.form-input:disabled:hover {
  color: var(--basic-extra-dark);
}

.text-input {
  color: #b9b9b9;
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  max-height: 48px;
}

.textarea-input {
  color: #2D3440;
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  resize: none;
}

.form-label-container {
  align-items: center;
  display: flex;
  margin-bottom: 8px;
}

.label-form {
  line-height: 20px;
  margin-right: 4px;
}

.input-search-container {
  border: none;
  padding: 0;
  position: relative;
}

.input-search-button {
  background-color: transparent;
  border: none;
  display: none;
  line-height: 10px;
  padding: 13px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.input-search-button svg {
  fill: var(--basic-extra-dark);
  opacity: 0.4;
}

/* тултип */
.tooltip {
  align-items: center;
  display: flex;
}

.tooltip-button {
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;
}

.tooltip-icon {
  fill: var(--basic-extra-dark);
}

.tooltip-text {
  background-color: var(--basic-extra-light);
  border-radius: 1px;
  border: 1px solid var(--basic-neutral);
  box-shadow: 0 2px 12px #ad988f2e;
  display: none;
  font-size: 12px;
  left: 22px;
  line-height: 16px;
  min-width: 150px;
  padding: 10px 8px;
  position: absolute;
  text-align: left;
  top: -10px;
  z-index: 1;
}


.tooltip-text::before {
  border-right-color: var(--basic-neutral);
  left: -8px;
}

.tooltip-text::after {
  border-right-color: var(--basic-extra-light);
  left: -7px;
}

.tooltip-button:hover .tooltip-text,
.tooltip-button:focus .tooltip-text {
  display: block;
}

/* слайдер с мороженым */

.intro {
  margin-bottom: 75px;
  position: relative;
}

.intro-container {
  margin-right: 20px;
  padding-left: 70px;
  padding-top: 112px;
}

.intro-title {
  margin-bottom: 24px;
}

.intro-description {
  color: var(--basic-extra-dark);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 48px;
}

.slider-controls {
  position: absolute;
  width: 350px;
  display: flex;
  justify-content: space-between;
  top: 231px;
  left: 537px;
}

.slider-list {
  display: flex;
  gap: 41px;
  overflow: hidden;
}

.slider-item {
  display: flex;
}

.slider-item.active {
  width: 867px;
  margin-right: 21px;
  order: -1;
}

.slider-item-content {
  display: none;
  padding: 136px 20px 70px 70px;
}

.active .slider-item-content {
  display: block;
  width: 561px;
}

.active .slider-item-img {
  width: 306px;
}

.slider-item-img {
  width: 100px;
  z-index: 1;
  position: relative;
}

.slider-item-img::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(252, 252, 252, 0.3);
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.active .slider-item-img::before {
  width: 312px;
  height: 312px;
}

.slider-button {
  background-clip: padding-box;
  background-color: #fcfcfc4d;
  border-radius: 50%;
  border: 2px solid var(--basic-extra-light);
  cursor: pointer;
  display: inline-flex;
  padding: 9px;
}

.slider-button svg {
  fill: var(--basic-extra-light);
}

.slider-button:hover {
  background-clip: border-box;
  background-color: var(--basic-extra-light);
  border: 2px solid var(--basic-extra-light);
}

.slider-button:hover svg,
.slider-button:active svg,
.slider-button:focus svg {
  fill: var(--basic-extra-dark);
}

.slider-button:active {
  background-color: #fcfcfc80;
  border: 2px solid #fcfcfc80;
}

.slider-button:focus {
  background-color: #fcfcfc80;
  border: 2px solid var(--basic-extra-dark);
}

.slider-button:disabled {
  background-color: #fcfcfc4d;
  border: 2px solid #fcfcfc80;
  opacity: 0.4;
}

.slider-button:disabled svg {
  fill: #fcfcfc80;
}

.bullet-container {
  display: flex;
  grid-column: 1 / 3;
  justify-content: space-between;
}

.slider-pagination-bullet {
  align-content: center;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.bullet {
  background-color: #fcfcfc4d;
  border-radius: 50%;
  border: 1px solid transparent;
  cursor: pointer;
  height: 12px;
  margin-right: 8px;
  padding: 0;
  width: 12px;
}

.bullet-current {
  background-color: var(--basic-extra-light);
}

.bullet:hover {
  background-color: #fcfcfc80;
  border: 1px solid var(--basic-extra-light);
}

.bullet:active {
  background-clip: padding-box;
  background-color: #fcfcfc80;
  border: 1px solid #fcfcfc80;
}

.bullet:focus {
  background-color: #fcfcfc80;
  border: 1px solid var(--basic-extra-dark);
}

/* баннеры */
.banners {
  margin-bottom: 80px;
}

.banners-title {
  margin-top: 20px;
}

.banners-item {
  background-color: var(--special-neutral);
  background-position: right bottom;
  background-repeat: no-repeat;
  border-radius: 16px;
  padding: 40px 200px 35px 36px;
  display: flex;
  flex-direction: column;
}

.banners-description {
  font-size: 16px;
  margin-top: 25px;
  margin: 28px 0;
}

.banners-item-raspberry {
  background-image: url("../images/banner1.png");
}

.banners-item-marshmellow {
  background-image: url("../images/banner2.png");
}

.banners-item-title {
  margin: 0;
}

.banners-list {
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: 1fr 1fr;
}

/* карточки товара */
.offers {
  margin-bottom: 80px;
}

.offers-link {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.offers-item {
  display: flex;
  flex-direction: column;
  padding: 0 40px 25px;
  position: relative;
  width: 270px;
}

.offers-item::after {
  background-color: #fcfcfc;
  border-radius: 8px;
  bottom: 0%;
  content: "";
  left: 0%;
  position: absolute;
  right: 0%;
  top: 15.36%;
  z-index: -1;
}

.offers-image {
  border-radius: 50%;
  box-shadow: 0 4px 12px #2d34401a;
  display: block;
  margin-bottom: 16px;
}

.offers-list {
  display: grid;
  gap: 40px 30px;
  grid-template-columns: repeat(4, 1fr);
}

.offers-description {
  margin-bottom: 13px;
  margin-top: 0;
  text-align: center;
}

.offers-button {
  background-clip: border-box;
  background-color: var(--special-extra-bright);
  border-radius: 26px;
  border: 2px solid var(--special-extra-bright);
  display: inline-flex;
  padding: 6px;
}

.offers-button svg {
  fill: var(--basic-extra-light);
}

.offers-button:hover {
  background-clip: padding-box;
  background-color: #fcfcfc4d;
}

.offers-button:hover svg,
.offers-button:active svg {
  fill: var(--basic-extra-dark);
}

.offers-button:active {
  background-clip: padding-box;
  background-color: var(--special-light);
}

.offers-button:focus {
  background-clip: padding-box;
  background-color: var(--special-extra-bright);
  border: 2px solid var(--basic-extra-dark);
}

.offers-button:focus svg {
  fill: var(--basic-extra-light);
}

.offers-button:disabled {
  background-color: var(--basic-neutral);
  border: 2px solid var(--basic-neutral);
}

.offers-price {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 24px;
  margin-bottom: -5px;
}

.offers-order {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.offers-underlay {
  background-color: var(--basic-white);
  border-radius: 8px;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 51px;
  z-index: -1;
}

/* карточки товара в каталоге */
.catalog-offers {
  margin-bottom: 40px;
}

.catalog-offers .offers-list {
  margin-bottom: 16px;
}

/* преимущества */
.advantages {
  background-color: var(--background-advantages);
  background-image: url("../images/wafer-bg-pattern.jpg");
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  margin-bottom: 80px;
  padding: 24px;
}

.advantages-title {
  padding-top: 2px;
}

.advantages-container {
  background-color: var(--basic-white);
  border-radius: 16px;
  padding: 56px 40px;
}

.advantages-list {
  display: grid;
  gap: 40px 32px;
  grid-template-columns: 1fr 1fr;
}

.advantages-item {
  flex-basis: 50%;
  font-size: 16px;
  padding-left: 64px;
  position: relative;
}

.advantages-item-description {
  margin: 0;
}

.advantages-item::before {
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 2px solid var(--basic-extra-dark);
  content: "";
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 48px;
}

.icon-ice-cream::before {
  background-image: url("../images/icecream.svg");
}

.icon-cow::before {
  background-image: url("../images/caw.svg");
}

.icon-leaf::before {
  background-image: url("../images/leaf.svg");
}

.icon-thermometer::before {
  background-image: url("../images/termometer.svg");
}

/* новости и подписка */
.news {
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 80px;
}

.news-post {
  background-color: #ffffff;
  background-image: url("../images/new.jpg");
  background-position: right top;
  border-radius: 16px;
  padding: 32px 235px 67px 32px;
  position: relative;
  background-size: cover;
}

.text-wrapper {
  position: relative;
  z-index: 1;
  padding: 26px 26px 32px 26px;
}

.text-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--basic-white);
  border-radius: 16px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.news-post-title {
  display: block;
  line-height: 20px;
  margin-bottom: 10px;
}

.news-subscribe {
  background-color: #ffffff;
  background-image: url("../images/subscribe.jpg");
  background-position: right top;
  border-radius: 16px;
  display: flex;
  padding: 6px;
  position: relative;
  background-size: cover;
}

.news-subscribe-description {
  margin: 0 0 44px;
}

.news-subscribe-form-container {
  align-items: center;
  display: flex;
  gap: 18px;
}

.subscribe-input {
  border-radius: 4px;
  border: 1px solid var(--basic-neutral);
  font-size: inherit;
  line-height: 20px;
  outline: none;
  padding: 12px;
  width: 332px;
}

.news-subscribe-form-container .button {
  flex-shrink: 0;
}

/* доставка */
.delivery {
  background-color: var(--background-delivery);
  background-image: url("../images/delivery.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  display: flex;
  margin-bottom: 70px;
  padding: 64px 64px 64px 100px;
}

.delivery-title {
  margin-bottom: 24px;
  margin-top: 105px;
  text-align: left;
}

.delivery-description {
  margin-right: 135px;
}

.delivery-form-container {
  background-color: var(--basic-white);
  border-radius: 8px;
  box-shadow: 0 15px 40px #2d34401f;
  max-width: 500px;
  min-height: 132px;
  min-width: 500px;
  padding: 40px;
}

.delivery-form {
  display: grid;
  gap: 20px 16px;
  grid-template-columns: minmax(min-content, 117px) 1fr;
  margin-bottom: 32px;
}

.delivery-submit {
  display: block;
  margin: 0 auto;
}

.delivery-help {
  display: block;
  margin-bottom: 32px;
}

.delivery-address {
  grid-column: 1 / -1;
}

/* контакты */
.contacts {
  background-color: #e7e7e7;
  background-image: url("../images/feetback.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  padding: 64px 763px 67px 64px;
}

.contacts-container {
  background-color: var(--basic-extra-light);
  border-radius: 8px;
  box-shadow: 0 8px 16px #2d34401f;
  margin-top: 8px;
  padding: 40px 40px;
}

.feedback-button {
  margin-top: -2px;
}

.contacts-main-office {
  display: flex;
  margin-bottom: 10px;
  padding-top: 4px;
}

.contacts-address {
  display: flex;
  line-height: 24px;
  margin-bottom: 24px;
}

.contacts-for-delivery {
  display: flex;
  margin-bottom: 12px;
}

.contacts-phone {
  display: flex;
  line-height: 24px;
  margin-bottom: 0;
}

.contacts-hours {
  display: flex;
  line-height: 20px;
  margin-bottom: 33px;
}

.address-container {
  font-style: normal;
}

/* хлебные крошки */

.arrow {
  margin-left: 10px;
}

.breadcrumbs {
  color: var(--basic-extra-dark);
  display: flex;
  line-height: 20px;
  margin-bottom: 16px;
}

.breadcrumbs-item {
  color: inherit;
  display: inline;
  margin-right: 10px;
  max-width: 200px;
  position: relative;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs-item::after {
  background-image: url("../images/chevrons-right.svg");
  background-position: center;
  background-repeat: no-repeat;
  content: "";
  display: block;
  height: 16px;
  position: absolute;
  right: -22px;
  top: 4px;
  width: 16px;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-item-current {
  text-decoration: underline;
}

.breadcrumbs-link {
  display: block;
}

/* фильтр-меню каталога */
.catalog-filters {
  margin-bottom: 44px;
  line-height: 20px;
}

.catalog-filter {
  background-color: #fcfcfc4d;
  background-image: url("../images/sort-arrow.svg");
  background-position: right 16px center;
  background-repeat: no-repeat;
  border-radius: 18px;
  border: none;
  padding: 7px 25px;
}

.catalog-filter-extender {
  background-color: #fcfcfc4d;
  background-position: right 16px center;
  background-repeat: no-repeat;
  border-radius: 18px;
  border: none;
  padding: 7px 25px;
}

.filters-group {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  gap: 16px 0;
  margin-bottom: 44px;
}

.filters-group-item {
  margin-right: 24px;
}

.filters-group-label {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 8px;
  margin-left: 16px;
  max-width: 605px;
}

.control {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
}

.control-input {
  display: none;
}

.control:focus .filters-icon,
.control:active .filters-icon {
  fill: #ffffff;
}

.control:focus .filters-icon.filters-icon-checked,
.control:active .filters-icon.filters-icon-checked {
  fill: #ffffff;
}

.control-input:checked ~ .filters-icon:not(.filters-icon-checked) {
  display: none;
}

.control-input:not(:checked) ~ .filters-icon-checked {
  display: none;
}

.filters-icon {
  fill: var(--basic-extra-dark);
  flex-shrink: 0;
  margin-right: 8px;
}

.filters-icon:hover {
  fill: var(--basic-extra-light);
}

.filters-icon:disabled {
  fill: var(--basic-neutral-disabled);
}

.select-control,
.filters-range {
  border-radius: 20px;
  display: block;
  max-width: 196px;
}

.select-control {
  appearance: none;
  background-clip: padding-box;
  background-color: #fcfcfc4d;
  background-position: right 10px center;
  background-repeat: no-repeat;
  border: 2px solid #fcfcfc4d;
  line-height: 20px;
  min-width: 196px;
  padding: 6px 14px;
}

.select-control:hover {
  background-clip: padding-box;
  background-color: #fcfcfc80;
  border: 2px solid #fcfcfc80;
}

.select-control:focus {
  background-clip: padding-box;
  background-color: #fcfcfc80;
  border: 2px solid var(--basic-extra-light);
}

.filters-range {
  background-color: #fcfcfc4d;
  border-radius: 20px;
  padding: 17px;
}

.filters-range-scale {
  border-radius: 2px;
  border: 1px solid #565c664d;
  height: 0;
  position: relative;
  width: 164px;
}

.filters-range-bar {
  border: 1px solid var(--basic-dark);
  height: 0;
  left: 30px;
  position: absolute;
  top: -3px;
  width: 75px;
}

.filters-range-toggle {
  background-color: var(--basic-extra-light);
  border-radius: 50%;
  border: 6px solid var(--basic-extra-dark);
  box-sizing: content-box;
  cursor: pointer;
  display: block;
  height: 4px;
  position: absolute;
  width: 4px;
}

.filters-range-toggle:hover {
  background-color: var(--basic-extra-dark);
  border: 6px solid var(--basic-extra-light);
}

.filters-range-toggle:active {
  background-color: var(--basic-extra-dark);
}

.filters-range-toggle:focus {
  background-color: var(--basic-extra-dark);
  border: 6px solid var(--basic-extra-light);
  box-shadow: 0 0 0 2px var(--basic-extra-dark);
}

.toggle-min {
  transform: translate(-50%, -50%);
}

.toggle-max {
  right: 0;
  transform: translate(50%, -50%);
}

.fatness-filter-list,
.fillers-filter-list {
  border-radius: 18px;
  display: flex;
  flex-wrap: wrap;
}

.fatness-filter-list {
  flex-wrap: wrap;
  min-width: 383px;
  padding: 5px 24px;
}

.fatness-filter-item:not(:last-child),
.fillers-filter-item:not(:last-child) {
  margin-right: 16px;
}

.filter-button {
  background-clip: padding-box;
  background-color: #fcfcfc4d;
  border-radius: 20px;
  border: 2px solid var(--basic-extra-light);
  color: var(--basic-extra-dark);
  font-size: 14px;
  font-weight: 700;
  margin-left: -5px;
  padding: 8px 52px;
}

.filter-button:hover {
  background-color: #fcfcfc4d;
  border: 2px solid var(--basic-extra-light);
  color: var(--basic-extra-dark);
}

.filter-button:active {
  background-color: #fcfcfc80;
  border: var(--basic-extra-light);
  color: var(--basic-extra-dark);
}

.filter-button:focus {
  background-color: #fcfcfc4d;
  border: 2px solid var(--basic-extra-dark);
  color: var(--basic-extra-dark);
}

.filter-button:disabled {
  background-color: #fcfcfc4d;
  border: 2px solid var(--basic-extra-light);
  color: var(--basic-extra-dark);
  opacity: 0.4;
}

/* пагинация каталога */
.offers-pagination {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 39px 0;
}

.offers-button-container {
  align-items: center;
  display: flex;
  grid-column: 2;
  justify-content: center;
}

.offer-button {
  margin-right: 13px;
  margin-top: 5px;
}

.catalog-pagination-container {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.catalog-pagination {
  display: flex;
}

.pagination-link {
  border-radius: 50%;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  line-height: 20px;
  min-width: 24px;
  padding: 1px 6px;
}

.pagination-prev,
.pagination-next {
  padding: 3px 0;
}

.pagination-prev svg {
  fill: var(--basic-extra-dark);
  opacity: 0.3;
}

.pagination-next svg {
  fill: var(--basic-extra-dark);
}

.pagination-link.pagination-current,
.pagination-link.pagination-current:hover {
  background-color: var(--basic-extra-light);
  border: 1px solid var(--basic-extra-light);
}

.pagination-link:hover {
  background-clip: padding-box;
  background-color: #fcfcfc80;
  border: 1px solid #fcfcfc80;
}

.pagination-link:active {
  background-color: #fcfcfc80;
  border: 1px solid var(--basic-extra-light);
}

.pagination-link:focus {
  background-color: #fcfcfc80;
  border: 1px solid var(--basic-extra-dark);
}

/* footer */


.page-footer {
  display: flex;
  justify-content: space-between;
  margin-top: -2px;
  padding: 45px 0;
  width: 1170px;
}

.catalog-page-footer {
  border-top: 1px solid #fcfcfc4d;
  padding: 48px 4px;
}

.footer-links {
  display: grid;
  gap: 8px 24px;
  grid-template-columns: max-content max-content;
  justify-content: center;
  padding-left: 120px;
}

.footer-links-item {
  line-height: 20px;
  max-width: 200px;
  position: relative;
}

.footer-links-item::before {
  content: "";
  height: 16px;
  left: -22px;
  position: absolute;
  top: 48%;
  transform: translateY(-50%);
  width: 16px;
}

.heart {
  margin-left: 98px;
  margin-top: 4px;
  position: absolute;
}

.copyright {
  padding-right: 14px;
}

.copyright-info {
  font-size: 12px;
  line-height: 16px;
  margin: 8px 0 0;
  max-width: 200px;
  padding-top: 8px;
}

.htmlacademy-link {
  color: var(--basic-extra-dark);
}

/* соцсети */
.social {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2px;
}

.page-social {
  margin-right: 43px;
}

.social-media {
  padding-left: 4px;
  padding-top: -5px;
}

.social-item:not(:last-child) {
  margin-right: 16px;
}

.social-link {
  background-clip: border-box;
  background-color: var(--special-light);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 24px;
  box-shadow: 0 0 0 2px #fcfcfc4d;
  display: block;
  height: 24px;
  width: 24px;
}

.social-link svg {
  fill: var(--basic-extra-light);
}

.social-link:hover {
  background-color: var(--basic-extra-dark);
}

.social-link:active {
  background-color: var(--basic-extra-dark);
  opacity: 0.5;
}

.social-link:focus {
  background-color: var(--basic-extra-dark);
  box-shadow: 0 0 0 2px var(--basic-extra-dark);
}

/* модальное окно */
.popup {
  background: #00000057;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  opacity: 0;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  width: 100%;
  z-index: 3;
}

.popup-active {
  opacity: 1;
  visibility: visible;
}

.popup-content {
  background: #fcfcfc;
  height: 545px;
  padding: 64px;
  position: relative;
  width: 570px;
}

.modal-title {
  margin-bottom: 30px;
}

.popup-close {
  border: none;
  cursor: pointer;
  height: 20px;
  padding: 0;
  position: absolute;
  right: 27px;
  top: 32px;
  width: 20px;
}

.popup-title {
  margin-bottom: 32px;
}

.modal-form {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 30px;
  padding: 0;
}

.modal-button-container {
  padding-left: 292px;
}

.popup-area {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* поповеры */
.popover-container {
  position: relative;
}

.popover {
  background-color: var(--basic-extra-light);
  border-radius: 4px;
  box-shadow: 0 15px 40px #2d34401f;
  margin-top: 8px;
  opacity: 0;
  padding: 8px 0;
  position: absolute;
  top: 100%;
  visibility: hidden;
  z-index: 2;
}

.popover-container:hover .popover {
  opacity: 1;
  visibility: visible;
}

.divider {
  background-color: var(--basic-neutral);
  height: 1px;
}

.cross-btn {
  background-color: var(--basic-extra-light);
  border: var(--basic-extra-light);
  cursor: pointer;
  margin-left: -10px;
}

/* поповер меню каталога */
.popover-title {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
  padding-bottom: 12px;
  padding: 8px 16px;
  position: relative;
}

.popover-title::after {
  background-color: #b9b9b9;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 16px;
  position: absolute;
  width: calc(100% - 32px);
}

.page {
  color: var(--basic-extra-dark);
  cursor: pointer;
  display: block;
  padding: 7px 16px;
  white-space: nowrap;
}

.page:hover {
  background-color: var(--special-extra-light);
}

.page:active {
  background-color: var(--special-neutral);
}

.page-current {
  background-color: var(--special-bright);
  color: var(--basic-extra-light);
}

/* поповер меню поиска */
.search-popover {
  padding: 24px 16px;
  right: 0;
  width: 356px;
}

.search-form {
  padding-right: 3px;
}

/* поповер меню входа */
.auth-popover {
  display: flex;
  flex-direction: column;
  padding: 48px 50px 52px 48px;
  right: 0;
  width: 420px;
}

.auth-container {
  display: flex;
  gap: 21px;
}

.popup-links {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.popup-link {
  color: var(--basic-extra-dark);
  padding-top: 3px;
}

/* поповер меню корзины */
.cart-popover {
  display: grid;
  gap: 32px;
  padding: 48px;
  right: 0;
  width: 441px;
}

.cart-popover .divider {
  background-color: var(--basic-light);
}

.cart-items {
  display: grid;
  grid-row-gap: 24px;
}

.cart-item {
  align-items: center;
  display: grid;
  gap: 16px;
  grid-template-columns: 46px 148px 1fr 16px;
  margin-top: -1px;
}

.cart-item svg {
  fill: var(--basic-extra-dark);
}

.cart-item-title {
  margin-bottom: 4px;
  font-size: 18px;
}

.cart-description {
  color: var(--basic-neutral);
  font-size: 14px;
  margin-top: 15px;
}

.cart-item-image {
  border-radius: 50%;
  box-shadow: 0 4px 12px #2d34401a;
}

.cart-item-price {
  font-size: 18px;
}

.cart-final-price {
  color: #2d3440;
  font-size: 18px;
  font-weight: 700;
  line-height: 44px;
}

.cart-actions {
  margin-top: 30px;
  white-space: nowrap;
}

.cart-button {
  margin-right: 29px;
}

.cart-popover-empty {
  padding: 48px 0;
  right: 0;
  text-align: center;
  width: 288px;
}

/* дополнительные классы */
.no-underline {
  color: var(--basic-extra-dark);
  text-decoration: none;
  margin-top: auto;
}

.text-bigger {
  font-size: 20px;
}

.text-smaller {
  color: #2d3440;
  font-family: 'Inter';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.text-color-secondary {
  color: var(--basic-dark);
  margin-top: 2px;
}

.text-align-center {
  text-align: center;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
